@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Enums.Scheduler
@using DayPilot.Web.Mvc.Events.Scheduler;
@using ViewType = DayPilot.Web.Mvc.Enums.Scheduler.ViewType

@model reserverProf.Model.user


@{
    ViewBag.Title = "detailsProfs";
}





<h2 style="color:green">Gros plan</h2>
<br />
<div>
    <div id="parallele">
        <h4>@Html.DisplayFor(model => model.prenom) @Html.DisplayFor(model => model.nom)</h4>

        <p style="margin-left: 150px">
            @Html.ActionLink("Home", "Index") |
            @Html.ActionLink("Retour", "Grid")
        </p>
    </div>
    <hr />
    <div id="parallele">
        <section>
            <dl class="dl-horizontal">

                <dd style="margin-right: 15px">
                    <img src="~/images/User/@Html.DisplayFor(model => model.photo)" />
                </dd>
        </section>
        <section>

            <dd>
                @Html.DisplayFor(model => model.prenom)
                @Html.DisplayFor(model => model.nom)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.adresse)
                @Html.DisplayFor(model => model.codePostal)
                @Html.DisplayFor(model => model.ville)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.telephone)
            </dd>
            <dt>


            </dt>
            <dd>
                @Html.DisplayFor(model => model.matiere.domaine)
            </dd>

            <dt>
                @Html.DisplayFor(model => model.presentation)
            </dt>



            </dl>
        </section>
    </div>
</div>







    @*<div id="Calender"></div>*@

    @{
        ViewBag.Title = "PartialView";
    }

    @{
        ViewBag.Title = "Scheduler | Basic initialization";
        ViewBag.SampleTitle = "Basic initialization";
    }


    @{
        Html.RenderAction("Calendar");
    }






</div>



